@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    --header-height: 120px;
    --footer-color: #F9FADF;
    scroll-padding-top: var(--header-height);
}

body {
    overflow-x: hidden;
}

.burger-menu {
    display: none;
}

.header {
    height: var(--header-height);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 80px;
    background-color: white;
    box-shadow: 0 0 25px 20px rgba(0,0,0,0.26);
    z-index: 1;
}

.logo-img {
    height: calc(var(--header-height) - 20px);
}

.header-links {
    font-size: 1.4rem;
    align-items: center;
    display: flex;
    gap: 10px;
}

.header-link {
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
}

.button {
    display: inline-block;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    padding: 25px 35px;
    border-radius: 2.25rem;
    width: fit-content;
    font-size: 1.4rem;
    cursor: pointer;
    border: none;
}

.blue {
    background-color: #7AE5FD;
    transition: background-color 0.3s;

    &:hover { 
        background-color: #7ac9fd; 
    }

    &:active { 
        background-color: #7a99fd; 
    }
}

.white {
    background-color: white;
    transition: background-color 0.3s;

    &:hover { 
        background-color: #eaeaea; 
    }

    &:active { 
        background-color: #ccc; 
    }
}

.hero-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-image: url('../images/hero-background.png');
    background-position: 50%;
    background-size: cover;
}

.hero-content {
    padding-left: 13vw;
    grid-column: 1 / span 1; 
}

.hero-motto {
    color: white;
    text-transform: uppercase;
    font-size: clamp(2.4rem, 4vw, 5rem);
    font-weight: 800;
}

.hero-description {
    font-size: 1.7rem;
    max-width: 80%;
    margin: 20px 0;
}

.about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding: 0 20px 250px;
}

.about-header {
    display: flex;
    flex-direction: column;
    height: 550px;
    justify-content: center;
    text-align: center;
    
    h2 {
        text-transform: uppercase;
        font-size: clamp(2.4rem, 4vw, 5rem);
        padding: 0 10vw;
    }
}

.about-description {
    margin: 30px 0 15px;
    font-size: 2.25rem;
}

.accent-text {
    color: #73A6B1;
    font-size: 1.7rem;
}

.about-section {
    display: flex;
    align-items: center;
    gap: 100px;
}

.about-content-container {
    width: 750px;
    font-size: 2rem;
    justify-self: end;
}

.about-sub-header {
    text-transform: uppercase;
    font-size: clamp(2rem, 3.5vw, 4.5rem);
    margin-bottom: 15px;
}

.about-image {
    border-radius: 10px;
    overflow: hidden;

    img {
        height: auto;
        width: 600px;
        display: block;
    }
}

.mission-page {
    font-size: 2.25rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-bottom: 100px;
}

.mission-header {
    display: inline-block;
    max-width: 700px;
    justify-self: end;
}

.images-container {
    justify-self: center;
    position: relative;
    width: 700px;
    height: 500px;
}

.images-container img {
    position: absolute;
    display: block;
    height: auto;
}

.stripes-image {
    top: 15%;
    left: 0;
    width: 100%;
}

.mission-image {
    top: -15%;
    left: 20%;
    width: 70%;
}

.support-page {
    text-align: center;
    padding: 200px 30px;
}

.support-header {
    font-size: clamp(2.4rem, 4vw, 5rem);
    text-transform: uppercase;
    margin-bottom: 30px;
}

.support-goal-container {
    font-size: 2.25rem;
    margin-top: 70px;
}

.support-goal {
    text-wrap: nowrap;
}

.goal-counter {
    font-size: 4.5rem;
    margin: 40px 0 80px
}

.goal-separator {
    color: #9AD2DE;
    font-weight: 300;
}

.know-more-btn {
    justify-self: center;
}

.footer {
    background-color: var(--footer-color);
    padding: 100px 80px;
    color: #1e1e1e;
}

.footer-inner {
    max-width: 90vw;
    margin: 0 auto;
}

.footer-top {
    text-align: center;
    padding-bottom: 50px;
}

.footer-top, .footer-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 150px;
}

.footer-bottom {
    background-color: white;
    align-items: center;
    padding: 50px 0;
}

.footer-title {
    font-size: clamp(2.4rem, 6vw, 5rem);
    text-transform: uppercase;
}

.contact-block {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: left;
    font-size: 1.4rem;
    max-width: 500px;
}

.phone-icon {
    width: 48px;
    height: 48px;
}

.phone-number {
    font-weight: 700;
    padding: 10px 0 50px;
}

.icon-link {
    text-decoration: none;
    color: black;
}

.icon-small {
    width: 32px;
    height: 32px;
    display: inline-block;
}

.newsletter-left {
    justify-self: center;
}

.newsletter-image {
    max-width: 100%;
    height: auto;
    width: 600px;
}

.newsletter-right {
    justify-self: start;
    align-self: center;
    padding: 20px;
}

.newsletter-title {
    margin-bottom: 40px;
    font-size: 1.8rem;
    max-width: 520px;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 700px;
}

.newsletter-form input {
    height: 4rem;
    border-radius: 2rem;
    border: none;
    padding: 0 50px;
    font-size: 1.4rem;
    outline: none;
    background-color: var(--footer-color);
}

.full-width {
    width: 100%;
}

@media (max-width: 1500px) {
    :root {
        --header-height: 90px;
    }

    .about-page {
        padding: 0 20px 100px;
    }

    .about-section {
        flex-direction: column;
        gap: 50px;
    }

    .about-sub-header {
        font-size: 3rem;
    }

    .about-content-container {
        font-size: clamp(1rem, 1.5rem, 2rem);
        text-align: center;
    }

    .images-container {
        width: 560px;
        height: 400px;
    }

    .stripes-image {
        top: 20%;
        left: 0;
    }

    .mission-image {
        top: -15%;
        left: 10%;
    }

    .mission-header {
        padding-left: 20px;
    }

    .mission-page {
        font-size: 2rem;
    }

    .support-page {
        padding: 100px 30px;
    }

    .footer-top, .footer-bottom {
        gap: 50px;
    }
}

@media (max-width: 1100px) {
    .header {
        padding: 0 20px;
    }

    

    .header-links {
        position: fixed;
        top: 0;
        right: 0;
        padding: 15px 10px 10px;
        border-radius: 0 0 0 20px;
        flex-direction: column;
        gap: 30px;
        background-color: white;
        transform: translateX(110%);
        transition: transform .35s ease-out;
        box-shadow: 0px 0px 30px 13px rgba(0,0,0,0.29);
    }

    .header-links.active {
        transform: translateX(0);
        transition: transform .35s ease-in;
    }

    .burger-menu {
        height: var(--header-height);
        cursor: pointer;
        transform: scaleX(-1);
        display: block;
        opacity: 1;
        transition: opacity 2s;
    }

    .burger-menu.hidden {
        opacity: 0;
        transition: opacity 2s;
    }
}

@media (max-width: 900px) {
    .footer-top, .footer-bottom {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .newsletter-right {
        justify-self: inherit;
    }

    .contact-block {
        width: fit-content;
    }

    .mission-page {
        grid-template-columns: 1fr;
    }

    .mission-header {
        justify-self: center;
        text-align: center;
        padding: 0;
    }

    .images-container {
        width: 425px;
        height: 400px;
        justify-self: center;
    }

    .stripes-image {
        top: 25%;
        left: 0;
        width: 100%;
    }

    .mission-image {
        top: 0;
        left: 20%;
    }

    .newsletter-image {
        display: block;
        max-width: 300px;
        justify-self: center;
        align-self: center;
    }

    .about-content-container {
        width: 100%;
    }

    .about-image img {
        width: 300px;
    }
}

@media (max-width: 600px) {
    .goal-counter {
        font-size: 2.5rem;
        font-weight: 600;
    }

    .footer {
        padding-inline: 30px;
    }

    .newsletter-title {
        font-size: 1.3rem;
    }

    .button {
        font-size: 1rem;
    }

    .newsletter-form input {
        padding-left: 20px;
        font-size: clamp(6px, 3vw, 1rem);
    } 

    .images-container {
        width: clamp(100px, 100%, 420px);
    }

    .about-sub-header {
        font-size: 2rem;
    }

    .hero-motto {
        font-size: 2rem;
    }

    .about-header h2 {
        padding: 0 5px;
        font-size: 2rem;
    }

    .about-description {
        font-size: 1.5rem;
    }

    .mission-page {
        margin: 0;
    }
}

@media (max-width: 360px) {
    .hero-motto {
        font-size: 1.6rem;
    }

    .about-header h2 {
        font-size: 1.6rem;
    }

    .about-description {
        font-size: 1.2rem;
    }

    .newsletter-form input {
        font-size: 0.5rem;
        height: 2.5rem;
    }

    .button {
        padding: 15px 25px;
    }

    .goal-counter {
        font-size: 2rem;
    }

    .about-sub-header {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .support-header {
        font-size: 2rem;
    }

    .support {
        padding-inline: 10px;
    }

    .newsletter-image {
        width: 200px;
    }
}
