@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    font-family: "Montserrat", sans-serif;
    --header-height: 150px;
}

html {
    scroll-padding-top: var(--header-height);
}

.header {
    display: flex;
    height: var(--header-height);
    position: sticky;
    top: 0;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
}

.logo-img {
    width: 65px;
    height: 65px;
}

.header-links {
    font-size: 1.2rem;
    align-items: center;
    height: 100%;
    display: flex;
}

.header-link {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    margin: 10px 20px;
}

.button {
    display: inline-block;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    padding: 21px 35px;
    border-radius: 2rem;
    width: fit-content;
}

.blue {
    background-color: #7AE5FD;
}

.white {
    background-color: white;
}

.hero-page {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-image: url('../images/hero-background.png');
    background-size: cover;
    object-fit: cover;
}

.hero-content {
    padding-left: 200px;
    width: 40%;
}

.hero-motto {
    color: white;
    text-transform: uppercase;
    font-size: 4.5rem;
    font-weight: 800;
}

.hero-description {
    font-size: 1.5rem;
    margin: 20px 0;
}

.about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding-bottom: 250px;
}

.about-header {
    display: flex;
    flex-direction: column;
    height: 550px;
    justify-content: center;
    align-items: center;
}

.about-header h2 {
    text-transform: uppercase;
    font-size: 4.5rem;
    width: 1100px;
    text-align: center;
}

.about-description {
    margin: 30px 0 15px;
    font-size: 2rem;
}

.accent-text {
    color: #73A6B1;
    font-size: 1.5rem;
}

.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content-container {
    width: 550px;
    font-size: 1.25rem;
    margin-right: 140px;
}

.about-sub-header {
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 15px;
}

.about-image {
    border-radius: 10px;
}