@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    --header-height: 120px;
    scroll-padding-top: var(--header-height);
}

body {
    overflow-x: hidden;
}

.burger-menu {
    display: none;
}

.header {
    height: var(--header-height);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 0 80px;
    background-color: white;
    box-shadow: 2px -97px 96px 81px rgba(0,0,0,0.81);
}

.logo-img {
    width: auto;
    height: calc(var(--header-height) - 20px);
}

.header-links {
    font-size: 1.4rem;
    align-items: center;
    display: flex;
    gap: 10px;
}

.header-link {
    color: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
}

.button {
    display: inline-block;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    padding: 25px 35px;
    border-radius: 2.25rem;
    width: fit-content;
    font-size: 1.4rem;
    cursor: pointer;
    border: none;
}

.blue {
    background-color: #7AE5FD;
    transition: background-color 0.1s;

    &:hover {
        background-color: #7ac9fd;
        transition: background-color 0.5s;
    }

    &:active {
        background-color: #7a99fd;
    }
}

.white {
    background-color: white;
    transition: background-color 0.1s;

    &:hover {
        background-color: #eaeaea;
        transition: background-color 0.5s;
    }

    &:active {
        background-color: #ccc;
    }
}

.hero-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-image: url('../images/hero-background.png');
    background-size: cover;
    object-fit: cover;
}

.hero-content {
    padding-left: 13vw;
    grid-column: 1 / span 1; 
}

.hero-motto {
    color: white;
    text-transform: uppercase;
    font-size: clamp(2.4rem, 4vw, 5rem);
    font-weight: 800;
}

.hero-description {
    font-size: 1.7rem;
    max-width: 80%;
    margin: 20px 0;
}

.about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding: 0 20px 250px;
}

.about-header {
    display: flex;
    flex-direction: column;
    height: 550px;
    justify-content: center;
    text-align: center;
    
    h2 {
        text-transform: uppercase;
        font-size: clamp(2.4rem, 4vw, 5rem);
        padding: 0 10vw;
    }
}

.about-description {
    margin: 30px 0 15px;
    font-size: 2.25rem;
}

.accent-text {
    color: #73A6B1;
    font-size: 1.7rem;
}

.about-section {
    display: flex;
    align-items: center;
    gap: 100px;
}

.about-content-container {
    width: 750px;
    font-size: clamp(1rem, 2rem, 2rem);
    justify-self: end;
}

.about-sub-header {
    text-transform: uppercase;
    font-size: clamp(2rem, 3.5vw, 4.5rem);
    margin-bottom: 15px;
}

.about-image {
    border-radius: 10px;
    overflow: hidden;

    img {
        height: auto;
        display: block;
    }
}

.mission-page {
    font-size: 2.25rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.mission-header {
    display: inline-block;
    max-width: 700px;
    justify-self: end;
}

.images-container {
    position: relative;
    height: 700px;
    width: 500px;
    transform: scale(1.25);
    z-index: -1;
}

.stripes-image {
    position: absolute;
    translate: 0 35%;
}

.mission-image {
    position: absolute;
    translate: 28%;
}

.support-page {
    text-align: center;
    padding: 200px 30px;
}

.support-header {
    font-size: clamp(2.4rem, 4vw, 5rem);
    text-transform: uppercase;
    margin-bottom: 30px;
}

.support-goal {
    font-size: 2.25rem;
    margin-top: 70px;
}

.goal-counter {
    font-size: 4.5rem;
    margin: 40px 0 80px
}

.goal-separator {
    color: #9AD2DE;
    font-weight: 300;
}

.know-more-btn {
    justify-self: center;
}

.footer {
    background-color: #F9FADF;
    padding: 100px 80px;
    color: #1e1e1e;
}

.footer-inner {
    max-width: 90vw;
    margin: 0 auto;
}

.footer-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 150px;
    text-align: center;
    padding-bottom: 50px;
}

.footer-title {
    font-size: 5rem;
    text-transform: uppercase;
}

.contact-block {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: left;
    font-size: 1.4rem;
    max-width: 500px;
}

.phone-icon {
    width: 48px;
    height: 48px;
}

.phone-number {
    font-weight: 700;
    padding: 10px 0 50px;
}

.icon-link {
    text-decoration: none;
    color: black;
}

.icon-small {
    width: 32px;
    height: 32px;
    display: inline-block;
}

.footer-bottom {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 150px;
    align-items: center;
    padding: 50px 0;
}

.newsletter-left {
    justify-self: center;
}

.newsletter-image {
    max-width: 100%;
    height: auto;
    width: 600px;
}

.newsletter-right {
    justify-self: start;
    align-self: center;
    padding: 20px;
}

.newsletter-title {
    margin-bottom: 40px;
    font-size: 1.8rem;
    max-width: 520px;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 700px;
}

.newsletter-form input {
    height: 4rem;
    border-radius: 2rem;
    border: none;
    padding: 0 50px;
    font-size: 1.4rem;
    outline: none;
    background-color: #F9FADF;
}

.full-width {
    width: 100%;
}

@media (max-width: 1500px) {
    :root {
        --header-height: 90px;
    }

    .about-page {
        padding: 0 20px 100px;
    }

    .about-section {
        flex-direction: column;
        gap: 50px;
    }

    .about-sub-header {
        font-size: 3rem;
    }

    .about-content-container {
        font-size: clamp(1rem, 1.5rem, 2rem);
    }

    .images-container {
        transform: scale(1);
    }

    .mission-header {
        padding-left: 20px;
    }

    .mission-page {
        font-size: 2rem;
    }

    .support-page {
        padding: 100px 30px;
    }
}

@media (max-width: 1100px) {
    .header-links.active {
        right: 10px;
        transition: right 2s;
    }

    .header-links {
        position: absolute;
        top: 15px;
        right: -400px;
        padding: 10px;
        border-radius: 0 0 0 20px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        background-color: white;
        transition: right 2s;
    }

    .burger-menu {
        height: var(--header-height);
        cursor: pointer;
        transform: scaleX(-1);
        display: block;
        opacity: 1;
        transition: opacity 2s;
    }

    .burger-menu.hidden {
        opacity: 0;
        transition: opacity 2s;
    }
}